@charset "utf-8";

@import '~scss/variables';
@import '~scss/mixins';

.avatar {
  display: flex;

  .icon {
    position: relative;
    margin-right: 12px;
  }

  .title {
    @include TypographyTitleH6($dark-color01);
  }
}

.iconwrapper {
  display: flex;
  i {
    margin-top: 5px;
    margin-right: 5px;
  }
}

.text_no_wrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  max-width: 150px;
}

.text_no_wrap_300 {
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  max-width: 300px;
}

.configRow {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 8px;
}

.configItemWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-items: center;
}

.configItem {
  display: inline-block;
  height: 14px;
  line-height: 14px;
  padding: 0 2px;
  background-color: $primary;
  color: $white;
  border-radius: 2px;
  vertical-align: middle;
  font-size: 11px;
}

// 각 GPU 타입별 색상
.configItem1g {
  background-color: #45be6a;
}

.configItem2g {
  background-color: #2c9c7b;
}

.configItem3g {
  background-color: #21696a;
}

.configItem4g {
  background-color: #00537b;
}

.configItem7g {
  background-color: #013d59;
}

.gpu_mig_container {
  button {
    appearance: none;
    border: none;
    outline: none;
  }

  i {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  .sub_title_area {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .ico-close {
    background: url('/assets/resources/images/icons/ico-close.svg') center
      no-repeat;
    width: 16px;
    height: 16px;
  }
}
