i {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
/* 30x30 */
.ico-type-clusternode {
  background: url('/assets/resources/images/icons/ico-type-clusternode.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-clusternode-wh {
  background: url('/assets/resources/images/icons/ico-type-clusternode-wh.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-vm {
  background: url('/assets/resources/images/icons/ico-type-vm.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-vm-wh {
  background: url('/assets/resources/images/icons/ico-type-vm-wh.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-pod {
  background: url('/assets/resources/images/icons/ico-type-pod.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-pod-wh {
  background: url('/assets/resources/images/icons/ico-type-pod-wh.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-flavor {
  background: url('/assets/resources/images/icons/ico-type-flavor.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-flavor-wh {
  background: url('/assets/resources/images/icons/ico-type-flavor-wh.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-security {
  background: url('/assets/resources/images/icons/ico-type-security.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-security-wh {
  background: url('/assets/resources/images/icons/ico-type-security-wh.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-network {
  background: url('/assets/resources/images/icons/ico-type-network.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-network-wh {
  background: url('/assets/resources/images/icons/ico-type-network-wh.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-network2 {
  background: url('/assets/resources/images/icons/ico-type-network2.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-network2-wh {
  background: url('/assets/resources/images/icons/ico-type-network2-wh.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-volume {
  background: url('/assets/resources/images/icons/ico-type-volume.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-volume-wh {
  background: url('/assets/resources/images/icons/ico-type-volume-wh.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-floatingip {
  background: url('/assets/resources/images/icons/ico-type-floatingip.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-floatingip-wh {
  background: url('/assets/resources/images/icons/ico-type-floatingip-wh.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-router {
  background: url('/assets/resources/images/icons/ico-type-router.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-router-wh {
  background: url('/assets/resources/images/icons/ico-type-router-wh.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-container {
  background: url('/assets/resources/images/icons/ico-type-container.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-container-wh {
  background: url('/assets/resources/images/icons/ico-type-container-wh.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-loadbalancer {
  background: url('/assets/resources/images/icons/ico-type-loadbalancer.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-loadbalancer-wh {
  background: url('/assets/resources/images/icons/ico-type-loadbalancer-wh.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-image {
  background: url('/assets/resources/images/icons/ico-type-image.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-image-wh {
  background: url('/assets/resources/images/icons/ico-type-image-wh.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-keypair {
  background: url('/assets/resources/images/icons/ico-type-keypair.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-keypair-wh {
  background: url('/assets/resources/images/icons/ico-type-keypair-wh.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-inbound {
  background: url('/assets/resources/images/icons/ico-type-inbound.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-inbound-wh {
  background: url('/assets/resources/images/icons/ico-type-inbound-wh.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-outbound {
  background: url('/assets/resources/images/icons/ico-type-outbound.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-outbound-wh {
  background: url('/assets/resources/images/icons/ico-type-outbound-wh.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-kubernetes-component {
  background: url('/assets/resources/images/icons/ico-type-kubernetes-component.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-cpu {
  background: url('/assets/resources/images/icons/ico-type-cpu.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-cpu-wh {
  background: url('/assets/resources/images/icons/ico-type-cpu-wh.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-memory {
  background: url('/assets/resources/images/icons/ico-type-memory.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-memory-wh {
  background: url('/assets/resources/images/icons/ico-type-memory-wh.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-disk {
  background: url('/assets/resources/images/icons/ico-type-disk.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-disk-wh {
  background: url('/assets/resources/images/icons/ico-type-disk-wh.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-x86 {
  background: url('/assets/resources/images/icons/ico-type-x86.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-x86-wh {
  background: url('/assets/resources/images/icons/ico-type-x86-wh.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-arm {
  background: url('/assets/resources/images/icons/ico-type-arm.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-arm-wh {
  background: url('/assets/resources/images/icons/ico-type-arm-wh.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-power {
  background: url('/assets/resources/images/icons/ico-type-power.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-power-wh {
  background: url('/assets/resources/images/icons/ico-type-power-wh.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-networkdevice {
  background: url('/assets/resources/images/icons/ico-type-networkdevice.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-networkdevice-wh {
  background: url('/assets/resources/images/icons/ico-type-networkdevice-wh.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-sriov {
  background: url('/assets/resources/images/icons/ico-type-sriov.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type40-sriov {
  background: url('/assets/resources/images/icons/ico-type-sriov.svg') center
    no-repeat;
  width: 40px;
  height: 40px;
}
.ico-type-sriov-wh {
  background: url('/assets/resources/images/icons/ico-type-sriov-wh.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-hostdevice {
  background: url('/assets/resources/images/icons/ico-type-hostdevice.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-hostdevice-wh {
  background: url('/assets/resources/images/icons/ico-type-hostdevice-wh.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-hostgpu {
  background: url('/assets/resources/images/icons/ico-type-hostgpu.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-hostgpu-wh {
  background: url('/assets/resources/images/icons/ico-type-hostgpu-wh.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-mediateddevice {
  background: url('/assets/resources/images/icons/ico-type-mediateddevice.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-mediateddevice-wh {
  background: url('/assets/resources/images/icons/ico-type-mediateddevice-wh.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-mediatedvgpu {
  background: url('/assets/resources/images/icons/ico-type-mediatedvgpu.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-mediatedvgpu-wh {
  background: url('/assets/resources/images/icons/ico-type-mediatedvgpu-wh.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-networkdevice {
  background: url('/assets/resources/images/icons/ico-type-networkdevice.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-networkdevice-wh {
  background: url('/assets/resources/images/icons/ico-type-networkdevice-wh.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-tree {
  background: url('/assets/resources/images/icons/ico-type-tree.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-power {
  background: url('/assets/resources/images/icons/ico-type-power.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-money {
  background: url('/assets/resources/images/icons/ico-type-money.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-co2 {
  background: url('/assets/resources/images/icons/ico-type-co2.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-bmcnode {
  background: url('/assets/resources/images/icons/ico-type-bmcnode.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-externalnetwork {
  background: url('/assets/resources/images/icons/ico-type-externalnetwork.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-externalnetwork-wh {
  background: url('/assets/resources/images/icons/ico-type-externalnetwork-wh.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-kaasimage {
  background: url('/assets/resources/images/icons/ico-type-kaasimage.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-kaasimage-wh {
  background: url('/assets/resources/images/icons/ico-type-kaasimage-wh.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-snapshot {
  background: url('/assets/resources/images/icons/ico-type-snapshot.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-snapshot-wh {
  background: url('/assets/resources/images/icons/ico-type-snapshot-wh.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-restore {
  background: url('/assets/resources/images/icons/ico-type-restore.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-restore-wh {
  background: url('/assets/resources/images/icons/ico-type-restore-wh.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-clone {
  background: url('/assets/resources/images/icons/ico-type-clone.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-clone-wh {
  background: url('/assets/resources/images/icons/ico-type-clone-wh.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-solution {
  background: url('/assets/resources/images/icons/ico-type-solution.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-gpucluster {
  background: url('/assets/resources/images/icons/ico-type-gpucluster.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-clusternode-gpu {
  background: url('/assets/resources/images/icons/ico-type-clusternode-gpu.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-gpuaas-gpu {
  background: url('/assets/resources/images/icons/ico-type-gpuaas-gpu.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-container-gpu {
  background: url('/assets/resources/images/icons/ico-type-container-gpu.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-vm-gpu {
  background: url('/assets/resources/images/icons/ico-type-vm-gpu.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-temperature {
  background: url('/assets/resources/images/icons/ico-type-temperature.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-type-instance {
  background: url('/assets/resources/images/icons/ico-type-instance.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}

/* 24x24 */
.ico-type24-clusternode {
  background: url('/assets/resources/images/icons/ico-type24-clusternode.svg')
    center no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-vm {
  background: url('/assets/resources/images/icons/ico-type24-vm.svg') center
    no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-pod {
  background: url('/assets/resources/images/icons/ico-type24-pod.svg') center
    no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-flavor {
  background: url('/assets/resources/images/icons/ico-type24-flavor.svg') center
    no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-security {
  background: url('/assets/resources/images/icons/ico-type24-security.svg')
    center no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-network {
  background: url('/assets/resources/images/icons/ico-type24-network.svg')
    center no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-network2 {
  background: url('/assets/resources/images/icons/ico-type24-network2.svg')
    center no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-volume {
  background: url('/assets/resources/images/icons/ico-type24-volume.svg') center
    no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-floatingip {
  background: url('/assets/resources/images/icons/ico-type24-floatingip.svg')
    center no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-router {
  background: url('/assets/resources/images/icons/ico-type24-router.svg') center
    no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-container {
  background: url('/assets/resources/images/icons/ico-type24-container.svg')
    center no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-loadbalancer {
  background: url('/assets/resources/images/icons/ico-type24-loadbalancer.svg')
    center no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-image {
  background: url('/assets/resources/images/icons/ico-type24-image.svg') center
    no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-keypair {
  background: url('/assets/resources/images/icons/ico-type24-keypair.svg')
    center no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-inbound {
  background: url('/assets/resources/images/icons/ico-type24-inbound.svg')
    center no-repeat;
  width: 60px;
  height: 60px;
}
.ico-type24-outbound {
  background: url('/assets/resources/images/icons/ico-type24-outbound.svg')
    center no-repeat;
  width: 60px;
  height: 60px;
}
.ico-type24-mediateddevice {
  background: url('/assets/resources/images/icons/ico-type24-mediateddevice.svg')
    center no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-mediatedvgpu {
  background: url('/assets/resources/images/icons/ico-type24-mediatedvgpu.svg')
    center no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-hostdevice {
  background: url('/assets/resources/images/icons/ico-type24-hostdevice.svg')
    center no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-hostgpu {
  background: url('/assets/resources/images/icons/ico-type24-hostgpu.svg')
    center no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-cpu {
  background: url('/assets/resources/images/icons/ico-type24-cpu.svg') center
    no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-memory {
  background: url('/assets/resources/images/icons/ico-type24-memory.svg') center
    no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-disk {
  background: url('/assets/resources/images/icons/ico-type24-disk.svg') center
    no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-x86 {
  background: url('/assets/resources/images/icons/ico-type24-x86.svg') center
    no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-arm {
  background: url('/assets/resources/images/icons/ico-type24-arm.svg') center
    no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-power {
  background: url('/assets/resources/images/icons/ico-type24-power.svg') center
    no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-powericon {
  background: url('/assets/resources/images/icons/ico-type24-powericon.svg')
    center no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-networkdevice {
  background: url('/assets/resources/images/icons/ico-type24-networkdevice.svg')
    center no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-sriov {
  background: url('/assets/resources/images/icons/ico-type24-sriov.svg') center
    no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-soriv {
  background: url('/assets/resources/images/icons/ico-type24-soriv.svg') center
    no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-externalnetwork {
  background: url('/assets/resources/images/icons/ico-type24-externalnetwork.svg')
    center no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-kaasimage {
  background: url('/assets/resources/images/icons/ico-type24-kaasimage.svg')
    center no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-snapshot {
  background: url('/assets/resources/images/icons/ico-type24-snapshot.svg')
    center no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-restore {
  background: url('/assets/resources/images/icons/ico-type24-restore.svg')
    center no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-clone {
  background: url('/assets/resources/images/icons/ico-type24-clone.svg') center
    no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-solution {
  background: url('/assets/resources/images/icons/ico-type24-solution.svg')
    center no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-container2 {
  background: url('/assets/resources/images/icons/ico-type24-container2.svg')
    center no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-workload {
  background: url('/assets/resources/images/icons/ico-type24-workload.svg')
    center no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-clusternode-gpu {
  background: url('/assets/resources/images/icons/ico-type24-clusternode-gpu.svg')
    center no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-gpuaas-gpu {
  background: url('/assets/resources/images/icons/ico-type24-gpuaas-gpu.svg')
    center no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-container-gpu {
  background: url('/assets/resources/images/icons/ico-type24-container-gpu.svg')
    center no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-vm-gpu {
  background: url('/assets/resources/images/icons/ico-type24-vm-gpu.svg') center
    no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-temperature {
  background: url('/assets/resources/images/icons/ico-type24-temperature.svg')
    center no-repeat;
  width: 24px;
  height: 24px;
}
.ico-type24-instance {
  background: url('/assets/resources/images/icons/ico-type-instance.svg') center
    no-repeat;
  width: 24px;
  height: 24px;
}

/* 40x40 */
.ico-type40-vm {
  background: url('/assets/resources/images/icons/ico-type40-vm.svg') center
    no-repeat;
  width: 40px;
  height: 40px;
}
.ico-type40-hostdevice {
  background: url('/assets/resources/images/icons/ico-type40-hostdevice.svg')
    center no-repeat;
  width: 40px;
  height: 40px;
}
.ico-type40-hostgpu {
  background: url('/assets/resources/images/icons/ico-type40-hostgpu.svg')
    center no-repeat;
  width: 40px;
  height: 40px;
}
.ico-type40-mediateddevice {
  background: url('/assets/resources/images/icons/ico-type40-mediateddevice.svg')
    center no-repeat;
  width: 40px;
  height: 40px;
}
.ico-type40-mediatedvgpu {
  background: url('/assets/resources/images/icons/ico-type40-mediatedvgpu.svg')
    center no-repeat;
  width: 40px;
  height: 40px;
}
.ico-type40-networkdevice {
  background: url('/assets/resources/images/icons/ico-type40-networkdevice.svg')
    center no-repeat;
  width: 40px;
  height: 40px;
}
.ico-type40-volume {
  background: url('/assets/resources/images/icons/ico-type40-volume.svg') center
    no-repeat;
  width: 40px;
  height: 40px;
}
.ico-type40-tree {
  background: url('/assets/resources/images/icons/ico-type40-tree.svg') center
    no-repeat;
  width: 40px;
  height: 40px;
}
.ico-type40-power {
  background: url('/assets/resources/images/icons/ico-type40-power.svg') center
    no-repeat;
  width: 40px;
  height: 40px;
}
.ico-type40-money {
  background: url('/assets/resources/images/icons/ico-type40-money.svg') center
    no-repeat;
  width: 40px;
  height: 40px;
}
.ico-type40-co2 {
  background: url('/assets/resources/images/icons/ico-type40-co2.svg') center
    no-repeat;
  width: 40px;
  height: 40px;
}
.ico-type40-bmcnode {
  background: url('/assets/resources/images/icons/ico-type40-bmcnode.svg')
    center no-repeat;
  width: 40px;
  height: 40px;
}
.ico-type40-gpucluster {
  background: url('/assets/resources/images/icons/ico-type40-gpucluster.svg')
    center no-repeat;
  width: 40px;
  height: 40px;
}
.ico-type40-gpuaas-gpu {
  background: url('/assets/resources/images/icons/ico-type40-gpuaas-gpu.svg')
    center no-repeat;
  width: 40px;
  height: 40px;
}

/* 16x16 */
.ico-type16-snapshot {
  background: url('/assets/resources/images/icons/ico-type16-snapshot.svg')
    center no-repeat;
  width: 16px;
  height: 16px;
}
.ico-type16-restore {
  background: url('/assets/resources/images/icons/ico-type16-restore.svg')
    center no-repeat;
  width: 16px;
  height: 16px;
}
.ico-type16-clone {
  background: url('/assets/resources/images/icons/ico-type16-clone.svg') center
    no-repeat;
  width: 16px;
  height: 16px;
}

/* status */
.ico-status-provisioning {
  background: url('/assets/resources/images/icons/ico-status-provisioning.svg')
    center no-repeat;
  width: 16px;
  height: 16px;
}
.ico-status-running {
  background: url('/assets/resources/images/icons/ico-status-running.svg')
    center no-repeat;
  width: 16px;
  height: 16px;
}
.ico-status-stopped {
  background: url('/assets/resources/images/icons/ico-status-stopped.svg')
    center no-repeat;
  width: 16px;
  height: 16px;
}
.ico-status-stopping {
  background: url('/assets/resources/images/icons/ico-status-stopping.svg')
    center no-repeat;
  width: 16px;
  height: 16px;
}
.ico-status-starting {
  background: url('/assets/resources/images/icons/ico-status-starting.svg')
    center no-repeat;
  width: 16px;
  height: 16px;
}
.ico-status-paused {
  background: url('/assets/resources/images/icons/ico-status-paused.svg') center
    no-repeat;
  width: 16px;
  height: 16px;
}
.ico-status-migrating {
  background: url('/assets/resources/images/icons/ico-status-migrating.svg')
    center no-repeat;
  width: 16px;
  height: 16px;
}
.ico-status-terminating {
  background: url('/assets/resources/images/icons/ico-status-terminating.svg')
    center no-repeat;
  width: 16px;
  height: 16px;
}
.ico-status-unknown {
  background: url('/assets/resources/images/icons/ico-status-unknown.svg')
    center no-repeat;
  width: 16px;
  height: 16px;
}
/* os */
.ico-os-ubuntu {
  background: url('/assets/resources/images/icons/ico-os-ubuntu.svg') center
    no-repeat;
  width: 24px;
  height: 24px;
}
.ico-os-almalinux {
  background: url('/assets/resources/images/icons/ico-os-almalinux.svg') center
    no-repeat;
  width: 24px;
  height: 24px;
}
.ico-os-centos {
  background: url('/assets/resources/images/icons/ico-os-centos.svg') center
    no-repeat;
  width: 24px;
  height: 24px;
}
.ico-os-debian {
  background: url('/assets/resources/images/icons/ico-os-debian.svg') center
    no-repeat;
  width: 24px;
  height: 24px;
}
.ico-os-fedora {
  background: url('/assets/resources/images/icons/ico-os-fedora.svg') center
    no-repeat;
  width: 24px;
  height: 24px;
}
.ico-os-opensuse {
  background: url('/assets/resources/images/icons/ico-os-opensuse.svg') center
    no-repeat;
  width: 24px;
  height: 24px;
}
.ico-os-rhel {
  background: url('/assets/resources/images/icons/ico-os-rhel.svg') center
    no-repeat;
  width: 24px;
  height: 24px;
}
.ico-os-rocky {
  background: url('/assets/resources/images/icons/ico-os-rocky.svg') center
    no-repeat;
  width: 24px;
  height: 24px;
}
.ico-os-windows {
  background: url('/assets/resources/images/icons/ico-os-windows.svg') center
    no-repeat;
  width: 24px;
  height: 24px;
}

/* etc */
.ico_search_small {
  background: url('/assets/resources/images/icons/ico-search-small.svg') center
    no-repeat;
  width: 20px;
  height: 20px;
}
.ico_type_star {
  background: url('/assets/resources/images/icons/ico-type-star.svg') center
    no-repeat;
  width: 20px;
  height: 20px;
}
.ico_type_container2 {
  background: url('/assets/resources/images/icons/ico-type-container2.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-check {
  background: url('/assets/resources/images/icons/ico-check.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-btn-trash {
  background: url('/assets/resources/images/icons/ico-btn-trash.svg') center
    no-repeat;
  width: 58px;
  height: 32px;
}
.ico-btn-trash:hover {
  background: url('/assets/resources/images/icons/ico-btn-trash.svg') center
    no-repeat;
  width: 58px;
  height: 32px;
  border-radius: 16px;
}
.ico-list-filter {
  background: url('/assets/resources/images/icons/ico-list-filter.svg') center
    no-repeat;
  width: 28px;
  height: 28px;
}
.ico-list-filter:hover {
  background: url('/assets/resources/images/icons/ico-list-filter.svg') center
    no-repeat;
  width: 58px;
  height: 32px;
  border-radius: 16px;
}
.ico-btn-edit {
  background: url('/assets/resources/images/icons/ico-btn-edit.svg') center
    no-repeat;
  width: 58px;
  height: 32px;
}
.ico-btn-edit:hover {
  background: url('/assets/resources/images/icons/ico-btn-edit.svg') center
    no-repeat;
  width: 58px;
  height: 32px;
  border-radius: 16px;
}
.ico-fold-all {
  background: url('/assets/resources/images/icons/ico-fold-all.svg') center
    no-repeat;
  width: 20px;
  height: 20px;
}
.ico-fold-unfold-all {
  background: url('/assets/resources/images/icons/ico-fold-unfold-all.svg')
    center no-repeat;
  width: 20px;
  height: 20px;
}
.ico-info-warning {
  background: url('/assets/resources/images/icons/ico-info-warning.svg') center
    no-repeat;
  width: 24px;
  height: 24px;
}
.ico-info-warning-2 {
  background: url('/assets/resources/images/icons/ico-info-warning-2.svg')
    center no-repeat;
  width: 24px;
  height: 24px;
}
.ico-quick-trash {
  background: url('/assets/resources/images/icons/ico-quick-trash.svg') center
    no-repeat;
  width: 16px;
  height: 16px;
}
.ico-quick-pannel {
  background: url('/assets/resources/images/icons/ico-quick-pannel.svg') center
    no-repeat;
  width: 16px;
  height: 16px;
}
.ico-quick-menu {
  background: url('/assets/resources/images/icons/ico-quick-menu.svg') center
    no-repeat;
  width: 16px;
  height: 16px;
}
.ico-quick-menu.wh {
  background: url('/assets/resources/images/icons/ico-quick-menu-wh.svg') center
    no-repeat;
  width: 16px;
  height: 16px;
}
.ico-plus-small {
  background: url('/assets/resources/images/icons/ico-plus-small.svg') center
    no-repeat;
  width: 16px;
  height: 16px;
}
.ico-plus {
  background: url('/assets/resources/images/icons/ico-plus.svg') center
    no-repeat;
  width: 16px;
  height: 16px;
}
.ico-minus {
  background: url('/assets/resources/images/icons/ico-minus.svg') center
    no-repeat;
  width: 16px;
  height: 16px;
}
.ico.ico-close-small {
  background: url('/assets/resources/images/icons/ico-close-small.svg') center
    no-repeat;
  width: 16px;
  height: 16px;
}
.ico-close {
  background: url('/assets/resources/images/icons/ico-close.svg') center
    no-repeat;
  width: 16px;
  height: 16px;
}
.ico-close-wh {
  background: url('/assets/resources/images/icons/ico-close-wh.svg') center
    no-repeat;
  width: 24px;
  height: 24px;
}
.ico-reset {
  background: url('/assets/resources/images/icons/ico-reset.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-etc-preview {
  background: url('/assets/resources/images/icons/ico-etc-preview.svg') center
    no-repeat;
  width: 20px;
  height: 20px;
}
.ico-etc-group {
  background: url('/assets/resources/images/icons/ico-etc-group.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico_etc_tag {
  background: url('/assets/resources/images/icons/ico-etc-tag.svg') top
    no-repeat;
  width: 24px;
  height: 24px;
}
.ico-etc-tag {
  background: url('/assets/resources/images/icons/ico-etc-tag.svg') top
    no-repeat;
  width: 24px;
  height: 24px;
}
.ico_etc_tag_wh {
  background: url('/assets/resources/images/icons/ico-etc-tag-wh.svg') center
    no-repeat;
  width: 24px;
  height: 24px;
}
.ico_etc_pen {
  background: url('/assets/resources/images/icons/ico-etc-pen.svg') center
    no-repeat;
  width: 24px;
  height: 24px;
}
.ico-etc-pen {
  background: url('/assets/resources/images/icons/ico-etc-pen.svg') center
    no-repeat;
  width: 24px;
  height: 24px;
}
/* etc kaas */
.ico-etc-checkall {
  background: url('/assets/resources/images/icons/ico-etc-checkall.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-etc-security {
  background: url('/assets/resources/images/icons/ico-type-security.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-etc-servicemesh {
  background: url('/assets/resources/images/icons/ico-etc-servicemesh.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}
.ico-etc-audit {
  background: url('/assets/resources/images/icons/ico-etc-audit.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-etc-network {
  background: url('/assets/resources/images/icons/ico-type-network.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-etc-ima {
  background: url('/assets/resources/images/icons/ico-etc-ima.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-etc-deveops {
  background: url('/assets/resources/images/icons/ico-etc-deveops.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}
.ico-etc-appstore {
  background: url('/assets/resources/images/icons/ico-etc-appstore.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}

.ico-arrow-clamp-down {
  background: url('/assets/resources/images/icons/ico-arrow-clamp-down.svg')
    center no-repeat;
  width: 10px;
  height: 7px;
  transition: 0.3s;
}
.ico-arrow-clamp-down_wh {
  background: url('/assets/resources/images/icons/ico-arrow-clamp-down-wh.svg')
    center no-repeat;
  width: 10px;
  height: 7px;
  transform: rotate(180deg);
  transition: 0.3s;
}
.ico-arrow-clamp-up {
  background: url('/assets/resources/images/icons/ico-arrow-clamp-up.svg')
    center no-repeat;
  width: 10px;
  height: 7px;
}
.ico-arrow-clamp-up-wh {
  background: url('/assets/resources/images/icons/ico-arrow-clamp-up-wh.svg')
    center no-repeat;
  width: 10px;
  height: 7px;
}
