i {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.ico-type-vm {
  background: url('/assets/resources/images/icons/ico-type-vm.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}

.ico-type-inbound {
  background: url('/assets/resources/images/icons/ico-type-inbound.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}

.ico-type-outbound {
  background: url('/assets/resources/images/icons/ico-type-outbound.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}

.ico-type-power {
  background: url('/assets/resources/images/icons/ico-type-power.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}

.ico-type-hostgpu {
  background: url('/assets/resources/images/icons/ico-type-hostgpu.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}

.ico-type-power {
  background: url('/assets/resources/images/icons/ico-type-power.svg') center
    no-repeat;
  width: 30px;
  height: 30px;
}

.ico-type-gpucluster {
  background: url('/assets/resources/images/icons/ico-type-gpucluster.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}

.ico-type-gpuaas-gpu {
  background: url('/assets/resources/images/icons/ico-type-gpuaas-gpu.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}

.ico-type-temperature {
  background: url('/assets/resources/images/icons/ico-type-temperature.svg')
    center no-repeat;
  width: 30px;
  height: 30px;
}

.ico-status-running {
  background: url('/assets/resources/images/icons/ico-status-running.svg')
    center no-repeat;
  width: 16px;
  height: 16px;
}

.ico-fold-all {
  background: url('/assets/resources/images/icons/ico-fold-all.svg') center
    no-repeat;
  width: 20px;
  height: 20px;
}

.ico-fold-unfold-all {
  background: url('/assets/resources/images/icons/ico-fold-unfold-all.svg')
    center no-repeat;
  width: 20px;
  height: 20px;
}

.ico-close {
  background: url('/assets/resources/images/icons/ico-close.svg') center
    no-repeat;
  width: 16px;
  height: 16px;
}
